body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFFDF6;
}

/* Styling af menupunkter */

a{
    color: #FF8441;
}

/* Styling af navbar */

.header{
    background-color: #FFFDF6;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #FFFDF6;
}

/* Styling af anchor tags i navbaren */

.header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
}

/* Styling når musen kører over menupunkter */

.header ul a:hover{
    background-color: #F0EAE1;
}

/* Styling af logo i navbar */

.header .logo{
    float: left;
    display: block;
    width: 2.5rem;
    height: auto;
    padding: 20px 20px;
}

/* Styling af menu til mobilenhed */

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* Styling af burgermenu i navbar */

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background-color: #FF8441;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background: #FF8441;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after{
    background: #FF8441;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

/* Skjuler check box i navbar */

.header .menu-btn{
    display: none;
}

/* Effekt ved menupunkter frem ved burgermenu */

.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

/* Styling af kryds når check box er checked */

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}

/* Styling af submenuer i navbar */

.header .submenu {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    background-color:#FAF6EF;
}

.header .submenu li a:hover {
   background-color: #F0EAE1;
}

.header .submenu li {
    float: none;
    margin-top: 0.5rem;
}

/* Viser submenuer når det tilsvarende menupunkt er i hover */
.header .menu > li:hover .submenu {
    display: block;
}

/* Styling af overskrift */

.overskrift{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF8441;
    font-size: 0.75rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5rem 0 0 0;
}

.overskriftfade{
    color: #FF8441;
    font-size: 1.52rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 20%;
    margin-top: -1.2rem;
}

/* Styling af tekst og infografik */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem 2rem;
}

.text {
    flex: 1;
    margin: -1.2rem 0 1rem;
    color: #FF8441;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.5rem;
    line-height: 0.8rem;
}

.container img{
    max-width: 100%;
    height: auto;
    margin-top: 2.5rem;
}

/* Styling af "læs mere" knap */

#readMoreCheckbox {
    display: none;
}

.readMoreLabel {
    background-color:#FFFDF6;
    color: #FF8441;
    border: 1px solid #FF8441;
    border-radius: 80px;
    padding: 2% 5%; 
    cursor: pointer;
    display: inline-block;
    margin: 0.5rem 0;
}

#mere {
    display: none;
}

#readMoreCheckbox:checked + .readMoreLabel + #mere {
    display: block;
}

#readMoreCheckbox:checked + .readMoreLabel:before {
    content:"Vis mindre"
}

#readMoreCheckbox:not(:checked) + .readMoreLabel:before {
    content: "Læs mere";
}

#readMoreCheckbox:checked ~ #mere {
    display: block;
}

/* Styling af footer */


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F0EAE1;
    color: #FF8441;
    padding: 10px;
    font-size: 0.5rem;
    text-align: center; 
    box-shadow: 4px 1px 1px 0 rgba(0,0,0,.1);
}

.social-media{
    margin-top: 0.6rem;
}
.social-media a {
    margin: 0 0.2rem;
}

.footeroverskrift{
    font-weight: bold;
}

/* Styling til tablet */

@media (min-width:768px){

/* Styling af overskrift */

.overskrift{
    font-size: 1.5rem;
}

.overskriftfade{
    font-size: 3.1rem;
    margin-top: -1.8rem;
}

/* Styling af tekst og infografik */

.container {
    padding: 0.5rem 8.5rem 2rem;
}

.text {
    margin: -1.2rem 0 2rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.container img{
    margin-top: 3.5rem;
}

/* Styling af footer */

.footer {
    font-size: 0.8rem;
}
}

/* Styling til almindelig laptop */

@media (min-width:1024px){

    /* Navbar */
    
        .header li{
            float: left;
        }
    
        .header li a{
            padding: 20px 30px;
        }
    
        .header .menu{
            clear: none;
            float: right;
            max-height: none;
        }
    
        .header .menu-icon{
            display: none;
        }
        
    /* Indhold */

    /* Styling af overskrift */

.overskrift{
    font-size: 2rem;
}

.overskriftfade{
    font-size: 4.1rem;
    margin-top: -2.5rem;
}

/* Styling af tekst og infografik */

.container {

    padding: 0.5rem 11.5rem 4rem;
}

.text {
    margin-top: -2rem;
    font-size: 1rem;
    line-height: 1.8rem;
}

/* Styling af footer */


.footer {
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
}

.container img{
    margin-top: 5rem;
}
}

/* Styling til stor laptop */

@media (min-width:1440px){

    /* Styling af overskrift */

    .overskrift{
        font-size: 2.6rem;
    }
    
    .overskriftfade{
        font-size: 5.2rem;
        margin-top: -3.6rem;
    }

    /* Styling af tekst og infografik */
    
    .container {

        padding: 0.5rem 19rem 4rem;
    }
    
    .text {
        margin-top: -2rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    
    /* Styling af footer */
    
    
    .footer {
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.8rem;
        padding: 0.5rem 1.5rem;
    }
    
    .container img{
        margin-top: 6rem;
    }

}
